.list-container {
  width: 100%;
  max-width: 1180px;
  padding: 0 30px;
  margin: 32px auto;
}

.list-container header {
  display: flex;
  align-items: center;
}

.list-container header span {
  font-size: 20px;
  margin-left: 24px;
}

.list-container header img {
  height: 64px;
}

.list-container header a {
  width: 260px;
  margin-left: auto;
  margin-top: 0;
}

.list-container header button {
  height: 80px;
  width: 100px;
  border-radius: 4px;
  border: 1px solid #ff9020;
  background: #ff9020;
  margin-left: 20px;
  transition: border-color 0.1s;
}

.list-container header button:hover {
  border-color: #ff9020;
}

.list-container h1 {
  margin-top: 25px;
  margin-bottom: 24px;
}

.list-container ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 24px;
  list-style: none;
}

.list-container ul li {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  position: relative;
}

.list-container ul li button {
  position: absolute;
  right: 24px;
  top: 24px;
  border: 0;
  transition: opacity 0.3s;
  background-color: #fff;
}

.back-link {
  position: absolute;
  right: 50px;
  top: 24px;
  border: 0;
  transition: opacity 0.3s;
}

.map-link {
  position: absolute;
  right: 80px;
  top: 24px;
  border: 0;
  transition: opacity 0.3s;
}

.list-container ul li button:hover {
  opacity: 2;
}

.list-container ul li strong {
  display: block;
  margin-bottom: 15px;
  color: #41414d;
}

.list-container ul li p + strong {
  margin-top: 30px;
}

.list-container ul li p {
  color: #737380;
  line-height: 20px;
  font-size: 20px;
}
